<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
	<system>
		<tab id="angel" sortOrder="999" translate="label">
			<label>Angel</label>
		</tab>
		<section id="auction" showInDefault="1" showInStore="0" showInWebsite="0" sortOrder="10" translate="label">
			<label>Auction</label>
			<tab>angel</tab>
			<resource>Angel_Auction::config_angel_auction</resource>
			<group id="general" showInDefault="1" showInStore="0" showInWebsite="0" sortOrder="10" translate="label">
				<label>General</label>
				<field id="enable" showInDefault="1" showInStore="0" showInWebsite="0" sortOrder="10" translate="label" type="select">
					<label>Enable</label>
					<comment/>
					<source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
				</field>
			</group>
			<group id="email" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
				<label>Email Notification</label>
				<field id="new_bid" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
					<label>New Bid</label>
					<comment>Email template to notify new bid created.</comment>
					<source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
				</field>
				<field id="winning" translate="label comment" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
					<label>Winning</label>
					<comment>Email template to notify win auction.</comment>
					<source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
				</field>
				<field id="over_bid" translate="label comment" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
					<label>Over Bid</label>
					<comment>Email template to notify that someone placed a new bid greater than your.</comment>
					<source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
				</field>
				<!--<field id="auction_finished" translate="label comment" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">-->
					<!--<label>Auction Finished</label>-->
					<!--<comment>Email Notify that the auction was finished.</comment>-->
					<!--<source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>-->
				<!--</field>-->
				<!--<field id="auction_canceled" translate="label comment" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">-->
					<!--<label>Auction Canceled</label>-->
					<!--<comment>Email template notify that the auction was canceled.</comment>-->
					<!--<source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>-->
				<!--</field>-->
			</group>
		</section>
	</system>
</config>
