<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
	<acl>
		<resources>
			<resource id="Magento_Backend::admin">
				<resource id="Angel_Auction::Bid" sortOrder="10" title="Bid">
					<resource id="Angel_Auction::Bid_save" sortOrder="10" title="Save Bid"/>
					<resource id="Angel_Auction::Bid_delete" sortOrder="20" title="Delete Bid"/>
					<resource id="Angel_Auction::Bid_update" sortOrder="30" title="Update Bid"/>
					<resource id="Angel_Auction::Bid_view" sortOrder="40" title="View Bid"/>
				</resource>
				<resource id="Angel_Auction::AutoBid" sortOrder="10" title="AutoBid">
					<resource id="Angel_Auction::AutoBid_save" sortOrder="10" title="Save AutoBid"/>
					<resource id="Angel_Auction::AutoBid_delete" sortOrder="20" title="Delete AutoBid"/>
					<resource id="Angel_Auction::AutoBid_update" sortOrder="30" title="Update AutoBid"/>
					<resource id="Angel_Auction::AutoBid_view" sortOrder="40" title="View AutoBid"/>
				</resource>
				<resource id="Angel_Auction::WatchList" sortOrder="10" title="WatchList">
					<resource id="Angel_Auction::WatchList_save" sortOrder="10" title="Save WatchList"/>
					<resource id="Angel_Auction::WatchList_delete" sortOrder="20" title="Delete WatchList"/>
					<resource id="Angel_Auction::WatchList_update" sortOrder="30" title="Update WatchList"/>
					<resource id="Angel_Auction::WatchList_view" sortOrder="40" title="View WatchList"/>
				</resource>
				<resource id="Magento_Backend::stores">
					<resource id="Magento_Backend::stores_settings">
						<resource id="Magento_Config::config">
							<resource id="Angel_Auction::config_angel_auction" title="auction"/>
						</resource>
					</resource>
				</resource>
			</resource>
		</resources>
	</acl>
</config>
